.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* App.css */
.thead-gold {
  background-color: #5f6411bc !important; /* Gold background */
  color: #fcfcfc !important;               /* Black text for contrast */
}

.thead-gold th {
  background-color:#5f6411bc !important;
  color: #fcfcfc !important;
  font-weight: bold;
}



.custom-bordered-table th,
.custom-bordered-table td {
  border: 1.5px solid #343a40 !important; /* Darker border */
}

.custom-bordered-table thead th {
  background-color: #e3f2fd; /* Light blue head */
  color: #212529;
  font-weight: bold;
}

.custom-bordered-table tfoot td {
  background-color: #f8f9fa;
  font-weight: bold;
}

.custom-bordered-table tbody tr {
  transition: background-color 0.2s;
}

.custom-bordered-table tbody tr:hover {
  background-color: #f1f1f1;
}





